@media screen and (max-width: 1199px) {
  .header__top__nav li:not(:last-child) {
    padding-right: 14px;
  }
  .header__middle__phones {
    margin-left: 15px;
  }
  .header__top {
    padding-bottom: 10px;
  }

  .header__top,
  .header__middle__btn {
    display: none;
  }
  .col-search-top {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    left: 0;
    top: 100%;
    right: 0;
    transition: 0.2s all ease-in-out;
    z-index: 10;
    background: #546770;
    padding: 10px 0;

    &.show {
      opacity: 1;
      visibility: visible;
    }

    .header__middle__phones {
      display: none;
    }

    .header__search {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: 720px;
      padding: 0 15px;
      margin: 0 auto;
      position: relative;

      .header__middle__search__mob-close {
        color: #fff;
      }
    }
  }
  .header__middle {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header__middle__col-mob {
    display: block;
  }
  .header {
    position: relative;
  }
  .mobile-navigation {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background: #eef0f0;
    z-index: 120;
    display: block;
    width: 100%;
    padding: 0 15px !important;
  }
  .home-slider {
    img {
      height: 320px;
      object-fit: cover;
    }

    &__desc {
      left: 40px;
    }
  }
  .header__middle__right__col svg {
    width: 20px;
    height: 20px;
  }
  .header__middle__right__col--mob {
    display: block;
  }
  .header__middle__right__col {
    padding-left: 0;
    width: 25%;

    .header__middle__link {
      text-align: center;
      display: flex;
      justify-content: center;
      flex-direction: column;

      &__ico {
        width: 20px;
        position: relative;
      }
    }
  }
  .header__middle__right {
    justify-content: space-between;
  }
  .header__middle__search-mob-open {
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    color: #000;
    display: flex;
    align-items: center;
  }

  .header__middle__mob-tel {
    color: #000;
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  .header__middle__col-mob__list {
    li {
      padding-left: 20px;
    }
  }
  .mobile-navigation__list {
    padding-top: 20px;
    padding-bottom: 45px;
    display: block !important;

    li {
      &:not(:last-child) {
        border-bottom: 1px solid #fff;
      }

      a {
        display: block;
        padding: 13px 0;
        font-size: 12px;
        line-height: 20px;
        color: #231f20;
        text-decoration: none;
      }
    }
  }
  .mobile-navigation {
    .header__middle__phones {
      margin-left: 0;
      padding-bottom: 15px;
    }
  }
  .mobile-navigation__work-time {
    color: #8a8a8a;
    font-size: 12px;
    line-height: 16px;
    padding-bottom: 20px;
  }
  .mobile-navigation__email {
    padding-bottom: 40px;

    a {
      text-decoration: underline;
    }
  }
  .header__middle__search__mob-close {
    width: 50px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .header__search__wrap {
    flex-grow: 1;

    .header__search__submit {
      width: 60px;
      background: #231f20;
      color: #fff;

      .header__search__submit__ico {
        display: none;
      }

      .header__search__submit__text {
        display: block;
        font-size: 12px;
        text-transform: uppercase;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .footer__col-logo {
    order: -2;
  }
  .footer__col-phones {
    order: -1;
    margin-bottom: 20px;
  }
  .footer__phones__mob-hr {
    height: 20px;
    border-bottom: 1px solid #cdcece;
  }
  .header__middle {
    min-height: 60px;
  }
  .catalog-page__sb {
    padding-right: 0;
  }
  .product-folder__prices {
    flex-direction: column;
    justify-content: flex-end;
    height: 32px;
    padding-bottom: 0;
    margin-bottom: 22px;

    &__col {
      width: 100%;
      height: 16px;
      flex-grow: 0;
    }
  }
  .product-folder__footer {
    padding-bottom: 8px;
  }
  .product-folder__footer__btns {
    display: block;
  }
  .product-folder__col-count {
    min-width: 100%;
    width: 100%;
    padding: 0 0 10px 0;
  }
  .product-folder__prices__old,
  .product-folder__prices__val {
    line-height: 16px;
  }

  .product-folder__count__value {
    height: 36px;
    padding: 5px 40px;
    font-size: 12px;
  }
  .product-folder__count__nav.product-folder__count__nav--minus {
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px 0 0 4px;
    width: 36px;
  }
  .product-folder__count__nav.product-folder__count__nav--plus {
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 0 4px 4px 0;
    width: 36px;
  }
  .product-folder__btn-bay {
    height: 36px;
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .col-mob-dashboard {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 110;
    box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.1);
    padding: 0;

    .header__middle__right {
      width: 100%;
      max-width: 510px;
      margin: 0 auto;

      .header__middle__right__col {
        width: 65px;
      }

      .header__middle__link {
        height: 55px;
        align-items: center;

        &__caption {
          display: block;
          text-align: center;
          color: #231f20;
          font-size: 10px;
          line-height: 14px;
        }
      }
    }
  }
  .caption-box h2 {
    font-size: 24px;
  }
  .caption-box p {
    font-size: 14px;
  }
  .modal__catalog-wrap {
    padding: 0 10px;

    .fpad30 {
      padding-bottom: 0 !important;
    }

    .category-list__item {
      padding-bottom: 20px !important;
      padding-top: 20px !important;

      &:not(.last) {

        border-bottom: 1px solid #f3f3f3;
      }

      .category-list__item__children__title {
        padding-right: 65px;
      }

      .category-list__item__children__ico {
        right: 0 !important;
      }
    }
  }
  .hidden-mob {
    display: none !important;
  }

  .only-mob {
    display: block;
  }

  .catalog-page__col-left {
    display: none;
  }
  .catalog-page__top {
    padding-top: 10px;
    flex-wrap: wrap;

    &__count {
      width: 100%;
      order: 3;
      padding-top: 16px;
      font-size: 12px;
      padding-right: 0;
    }

    &__sort {
      margin-left: 0;
      max-width: 100%;
      width: calc(100% - 120px);
    }

    &__view {
      margin-left: 10px;
    }
  }
  .fpad40 {
    padding-bottom: 25px;
  }
  .btn--submit {
    font-weight: 400;
    font-size: 14px;
    height: 36px;
  }
  .pagination__more-btn {
    height: 36px;
    font-size: 12px;
    margin-bottom: 20px;
  }
  .pagination .pagination__list__nav {
    padding: 0 5px;
    justify-content: center;
  }
  .pagination .pagination__list__next, .pagination .pagination__list__prev {
    width: 36px;
    min-width: 36px;
  }
  .pagination .pagination__list__btn,
  .pagination .pagination__list__item {
    height: 36px;
    width: 36px;
    font-size: 12px;
  }
  .catalog-page__pagination {
    padding-bottom: 30px;
  }
  .product-folder__title {
    height: 75px;
  }

  .show_filter {
    overflow: hidden;
  }
  .catalog-page__col-left.show {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: #fff;
    z-index: 999;
    padding: 0;
  }
  .catalog-page__sb__header {
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #f3f3f3;
    padding: 0 10px;
    margin-left: -10px;
    margin-right: -10px;
    justify-content: space-between;
    margin-bottom: 23px;

    &__title {
      font-size: 16px;
      line-height: 24px;
      color: #231f20;
      font-weight: 500;
    }

    &__close {
      color: #231f20;
      text-decoration: none;
    }
  }
  .catalog-page__sb__footer {
    position: fixed;
    z-index: 1000;
    background: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 20px;
    display: flex;
    flex-direction: row-reverse;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    .btn {
      width: calc(50% - 10px);
      font-size: 14px;
      height: 36px;
      margin-bottom: 0;
      &.btn--reset {
        svg,
        & span {
          display: none;
        }
      }
    }
  }
  .catalog-page__sb__body {
    padding: 0 10px 60px;
  }
  .catalog-page__filter-box__title {
    font-size: 14px;
    padding-bottom: 5px;
  }
  .catalog-page__filter-box {
    padding-bottom: 18px;
  }
  .catalog-page__filter-box__range {
    padding: 0;
  }
  .catalog-page__filter-box__range__col label,
  .custom-chek__value {
    font-size: 12px;
  }
  .catalog-page__filter-box__list-chek {
    padding-top: 11px;
  }
  .product-folder.product-folder--list {
    flex-wrap: wrap;
    position: relative;
    padding-top: 0;
    padding-bottom: 20px;
    .product-folder__img {
      width: 110px;
      min-width: 110px;
      height: 100px;
      padding-right: 10px;
    }
    .product-folder__right {
      padding-right: 0;
      width: calc(100% - 110px);
      min-height: 100px;
      .product-folder__fav-list {
        position: absolute;
        bottom: 20px;
        right: 0;
        z-index: 2;
        width: 40px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        background: #f3f3f3;
        .product-folder__fav__text {
          display: none;
        }
        svg {
          margin-right: 0;
        }
        &:hover {
          background: #e1e1e1;
        }
      }
      .product-folder__body {
        padding-right: 0;
      }
      .product-folder__props {
        margin-bottom: 13px;
      }
    }
    .product-folder__footer {
      width: 100%;
      padding-left: 110px;
      padding-bottom: 0;

      .product-folder__footer__btns {
        position: relative;
        padding-right: 50px;
        .product-folder__col-count {
          position: absolute;
          z-index: 1;
          bottom: 0;
          right: 100%;
          padding: 0 10px 0 0;
          width: 110px;
          min-width: 110px;
          .product-folder__count__nav {
            width: 24px;
          }
        }
      }
      .product-folder__prices {
        height: auto;
      }
      .product-folder__status {
        padding-bottom: 13px;
      }
      .product-folder__prices {
        padding-bottom: 0;
        margin-bottom: 20px;
      }
    }
    .product-folder__props dd, .product-folder__props dt {
      font-size: 11px;
    }
    .product-folder__footer--out-stock {
      padding-top: 0;
    }
  }
}

@media screen and (max-width: 575px) {
  .col-mob-dashboard .header__middle__right {
    max-width: 100%;
    padding: 0;
  }
  .home-slider {
    margin-left: -12px;
    margin-right: -12px;
    margin-bottom: 20px;

    img {
      width: 100%;
    }

    .slider-nav {
      display: none !important;
    }

    &__desc {
      height: calc(100% - 40px);
      top: 10px;
      left: 0;
      width: 100%;
      padding: 0 12px;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    .swiper-pagination {
      bottom: 20px;
      left: 20px;
      padding-left: 0;
      right: 10px;
    }
  }
  .header__middle__col-mob__list {

    li {
      padding-left: 15px;
    }

  }
  .container {
    padding-left: 10px;
    padding-right: 10px;

    .row {
      margin-left: -10px;
      margin-right: -10px;

      & > * {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
  .home-slider__title {
    font-size: 24px;
    margin-bottom: 25px;
  }
  .home-slider__link {
    height: 36px;
    font-size: 12px;
  }
  .category-list__item {
    padding: 20px 100px 10px 20px;
    position: relative;
  }
  .category-list__item__children__ico {
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 20px;
  }
  .category-list__item__children__title {
    font-size: 16px;
    line-height: 20px;
  }
  .category-list__item__body a {
    font-size: 12px;
  }
  .fpad30 {
    padding-bottom: 10px;
  }
  .slider-nav {
    display: none;
    opacity: 0;
    visibility: hidden;
  }

  .slider-catalog .swiper-scrollbar {
    display: block;
    position: relative;
    left: auto;
    bottom: auto;
    margin-top: 10px;
    background: #f3f3f3;
    height: 4px;
    border-radius: 2px;

    .swiper-scrollbar-drag {
      height: 4px;
      border-radius: 2px;
      background: #546770;
    }
  }
  .mb-75 {
    margin-bottom: 40px;
  }
  .product-folder__title {
    font-size: 12px;
    line-height: 15px;
  }
  .slider-catalog {
    .product-folder__title {
      height: 88px;
    }

    .product-folder__props {
      display: none;
    }
  }

  .product-folder__body {
    padding-left: 0;
    padding-right: 0;
    padding-top: 5px;
  }
  .product-folder__fav {
    position: relative;
    top: auto;
    background: transparent;
    width: 100%;
    left: auto;
    right: auto;

    &__text {
      color: #231f20;
      font-size: 12px;
      line-height: 18px;
      font-weight: 500;
      padding-left: 10px;
      display: block;
    }
  }
  .product-folder__img {
    height: 140px;
  }
  .product-folder__status {
    font-size: 11px;
  }
  .caption-box {
    padding-bottom: 15px;
  }
  .product-folder__labels {
    left: 4px;
    top: 4px;
  }
  .help-box {
    padding-top: 35px;
    padding-bottom: 30px;

    &__links {
      padding: 18px 0 0 8px;

      li {
        padding-bottom: 5px;

        a {
          font-size: 12px;
        }
      }

    }
  }
  .text ul li {
    font-size: 12px;
    line-height: 16px;
  }
  .text ul {
    padding-bottom: 15px;
  }
  .btn-yellow {
    height: 36px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
  }
  .help-box__alert {
    padding: 10px 10px 15px;

    h4 {
      font-size: 16px;
    }

    p {
      font-size: 12px;
      line-height: 16px;
    }
  }
  .brends-box {
    padding-top: 38px;
    padding-bottom: 35px;
  }
  .mob-hidden {
    display: none !important;
  }
  .brends-slider__item {
    width: 90px;
    height: 50px;
  }
  .brends-slider .swiper {
    overflow: visible;
  }
  .brends-slider {
    margin-top: 5px;
    margin-bottom: 20px;
  }
  .only-mob {
    display: block;
  }
  .more-link {
    font-size: 12px;
  }
  .pt-75 {
    padding-top: 35px;
  }
  .privilege-row {
    padding-top: 9px;
  }
  .mob-pb-0 {
    padding-bottom: 0;
  }
  .privilege {
    padding-bottom: 20px;
  }
  .privilege__desc {
    padding-left: 12px;

    h3 {
      font-size: 16px;
      line-height: 20px;
      padding-bottom: 36px;

      &::after {
        bottom: 17px;
      }
    }

    p {
      font-size: 12px;
      line-height: 18px;
    }
  }
  .pb-75 {
    padding-bottom: 35px;
  }
  .mob-pb-15 {
    padding-bottom: 15px !important;
  }
  .contacts-box__title {
    font-size: 16px;
    line-height: 20px;
  }
  .contacts-box__text {
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 20px;
  }
  .contacts-box__address {
    line-height: 20px;
    font-size: 14px;
  }
  .contacts-box__time {
    line-height: 26px;
  }
  .office-gallery {
    padding-top: 20px;

    .swiper-slide {
      width: 270px !important;
    }
  }
  .office-gallery .swiper-slide img {
    opacity: 1;
  }
  .footer {
    padding-top: 40px;

    &__logo {
      padding-bottom: 27px;
      width: 110px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .footer__phones__item {
    justify-content: center;

    span {
      width: 50px;
    }

    .tel {
      font-size: 16px;
      line-height: 24px;
      min-width: 143px;
    }
  }
  .footer__contacts {
    text-align: center;
    padding-top: 15px;

    &__caption {
      font-size: 12px;
    }

    &__text {
      font-size: 12px;
      line-height: 16px;
    }
  }
  .footer__col-phones {
    margin-bottom: 25px;
  }
  .footer__phones__mob-hr {
    height: 31px;
  }
  .footer__nav {
    &--first {
      padding-bottom: 20px;
    }

    li {
      padding-bottom: 5px !important;

      a {
        font-size: 12px;
        text-align: center;
        display: block;
        line-height: 16px;
      }
    }
  }
  .footer__bottom {
    flex-direction: column-reverse;
    padding: 25px 0 140px;
    text-align: center;

    a {
      font-size: 12px;
      line-height: 16px;
      width: 100%;
      text-align: center;
    }
  }
  .footer__webmaster {
    position: absolute;
    z-index: 1;
    bottom: 85px;
    left: 50%;
    margin-left: -18px;
    padding-right: 0;
    width: 36px;
  }
  .footer__copy {
    font-size: 12px;
    line-height: 16px;
    padding-top: 10px;
  }
  .modal-dialog__mob-header {
    display: block;
    margin-left: -12px;
    margin-right: -12px;
    padding-left: 12px;
    padding-right: 12px;
    border-bottom: 1px solid #f3f3f3;
    margin-bottom: 20px;

    .modal-dialog__title {
      padding: 0 30px 15px 0;
      font-size: 16px;
      line-height: 24px;
    }
  }
  .modal-fullscreen .modal-content {
    padding-top: 15px;

    .close {
      top: 0;
      right: 0;
      height: 60px;
      width: 60px;
    }
  }
  .col-search-top .header__search {
    padding: 0;
  }
  .header__search__inp {
    height: 36px;
    padding: 0 70px 0 10px;
  }
  .header__search__wrap .header__search__submit {
    height: 28px;
    top: 4px;
    right: 4px;
  }
  .header__middle__search__mob-close {
    width: 40px;
  }

  .wrapper-page {
    padding-top: 15px;
  }
  .wrapper-page__breadcrumbs {
    padding-bottom: 15px;
  }
  .wrapper-page__header {
    padding-bottom: 15px;

    h1 {
      font-size: 24px;
    }
  }
  .category-card {
    flex-direction: column;

    &__img {
      padding-bottom: 20px;

      img {
        width: 40px;
        height: auto;
      }
    }
  }
  .category-card__header {
    padding-bottom: 10px;
  }
  .category-card__list__submenu li a {
    padding: 10px 0;
  }
  .category-card__header__title {
    font-size: 16px;
  }
  .category-card__list__submenu__title {
    font-size: 12px;
  }
  .category-card {
    padding-bottom: 20px;
  }
  .catalog-level1 {
    display: flex;

    &__img {
      width: 70px;
      height: 70px;
      min-width: 70px;
    }

    &__footer {
      width: 150px;
      flex-grow: 1;
      padding-left: 20px;
      align-items: center;
    }
  }
  .fpad30 {
    padding-bottom: 10px;
  }
  .mob-fpad20 {
    padding-bottom: 20px;
  }
}
